<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<style>
    table, tr, th {
        border: black solid 1px;
        margin: 0 auto;
    }

    th {
        padding: 10px;
    }

    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>
<body>
<h2>안녕 나는 detail</h2>
<table>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>생일</th>
        <th>전화번호</th>
    </tr>
    <tr>
        <th th:text="${memberDTO.id}"></th>
        <th th:text="${memberDTO.memberName}"></th>
        <th th:text="${memberDTO.memberEmail}"></th>
        <th th:text="${memberDTO.memberPassword}"></th>
        <th th:text="${memberDTO.memberBirth}"></th>
        <th th:text="${memberDTO.memberMobile}"></th>
    </tr>
    <tr>
        <th colspan="2" style="border: unset;"><a th:href="@{|/member/update/${memberDTO.id}|}">[수정]</a></th>
        <th colspan="2" style="border: unset;"><a th:href="@{|/member/delete/${memberDTO.id}|}">[삭제]</a></th>
        <th colspan="2" style="border: unset;"><a href="/member/">[뒤로]</a></th>
    </tr>
</table>
</body>
</html>