<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<h2>안녕 나는 list</h2>
<table>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>이메일</th>
        <th>상세</th>
    </tr>
    <tr th:each="member:${memberDTOList}">
        <th th:text="${member.id}"></th>
        <th th:text="${member.memberName}"></th>
        <th th:text="${member.memberEmail}"></th>
        <th><a th:href="@{|/member/${member.id}|}">상세</a></th>
    </tr>
</table>
</body>
</html>