<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="test">
  <table class="table table-striped">
    <tr>
      <th>id</th>
      <th></th>
    </tr>
    <tr>
      <th>email</th>
      <th></th>
    </tr>
    <tr>
      <th>name</th>
      <th></th>
    </tr>
  </table>
</div>
</body>
<script>
  const member_detail = (id) => {
    const test = document.getElementById('test');
    axios({
      method: "get",
      url: "/member-axios/"+id
    }).then(res => {
      console.log("res",res);
      // 회원 데이터
      console.log("member",res.data);
      // 회원 이메일
      console.log("email",res.data.memberEmail);
      let result = "<table class=\"table table-striped\">\n" +
              "<tr>\n" +
              "<th>id</th>\n" +
              "<th>"+res.data.id+"</th>\n" +
              "</tr>\n" +
              "<tr>\n" +
              "<th>email</th>\n" +
              "<th>"+res.data.memberEmail+"</th>\n" +
              "</tr>\n" +
              "<tr>\n" +
              "<th>name</th>\n" +
              "<th>"+res.data.memberName+"</th>\n" +
              "</tr>\n" +
              "</table>"
      test.innerHTML = resulte;
    }).catch(err => {
      alert("해당 회원이 없습니다!");
    })
  }
</script>
</html>