<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/component :: header"></div>
<div th:replace="component/component :: nav"></div>
<section>
    <div id="axios-gogo">
    <form action="/member/update" method="post">
        <input type="text" name="id" id="memberId" th:value="${memberDTO.id}" style="display: none;">
        <table>
            <tr>
                <th>
                    <label for="memberEmail">이메일</label>
                </th>
                <th>
                    <input type="text" id="memberEmail" name="memberEmail" th:value="${memberDTO.memberEmail}">
                </th>
            </tr>
            <tr>
                <th>
                    <label for="memberPassword">비밀번호</label>
                </th>
                <th>
                    <input type="password" id="memberPassword" name="memberPassword"
                           th:value="${memberDTO.memberPassword}">
                </th>
            </tr>
            <tr>
                <th>
                    <label for="memberName">이름</label>
                </th>
                <th>
                    <input type="text" id="memberName" name="memberName" th:value="${memberDTO.memberName}">
                </th>
            </tr>
            <tr>
                <th>
                    <label for="memberBirth">생일</label>
                </th>
                <th>
                    <input type="date" id="memberBirth" name="memberBirth" th:value="${memberDTO.memberBirth}">
                </th>
            </tr>
            <tr>
                <th>
                    <label for="memberMobile">전화번호</label>
                </th>
                <th>
                    <input type="text" id="memberMobile" name="memberMobile" th:value="${memberDTO.memberMobile}">
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="수정">
                    <input type="button" value="axios수정" th:onclick="member_updata()">
                    <input type="button" value="뒤로" th:onclick="|location.href='@{/member/(id=${memberDTO.id})}'|">
                </th>
            </tr>
        </table>
    </form>
    </div>
</section>
<div th:replace="component/component :: footer"></div>
</body>
<script>
    const member_updata = () => {
        axios({
            method:"put",
            url:"/member/update",
            data:{
                id:document.getElementById("memberId").value,
                memberEmail:document.getElementById("memberEmail").value,
                memberPassword:document.getElementById("memberPassword").value,
                memberName:document.getElementById("memberName").value,
                memberBirth:document.getElementById("memberBirth").value,
                memberMobile:document.getElementById("memberMobile").value
            }
        }).then(res =>{
            alert("수정완료! 확인을 클릭하면 디테일로 돌아갑니다!");
            location.href ="/member/"+res.data.id;
        }).catch(err => {
            alert("수정 실패!");
        })
    }
</script>
</html>