<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<form action="/member/update" method="post">
    <input type="text" name="id" th:value="${memberDTO.id}" style="display: none;">
    <table>
        <tr>
            <th>
                <label for="memberEmail">이메일</label>
            </th>
            <th>
                <input type="text" id="memberEmail" name="memberEmail" th:value="${memberDTO.memberEmail}">
            </th>
        </tr>
        <tr>
            <th>
                <label for="memberPassword">비밀번호</label>
            </th>
            <th>
                <input type="password" id="memberPassword" name="memberPassword" th:value="${memberDTO.memberPassword}">
            </th>
        </tr>
        <tr>
            <th>
                <label for="memberName">이름</label>
            </th>
            <th>
                <input type="text" id="memberName" name="memberName" th:value="${memberDTO.memberName}">
            </th>
        </tr>
        <tr>
            <th>
                <label for="memberBirth">생일</label>
            </th>
            <th>
                <input type="date" id="memberBirth" name="memberBirth" th:value="${memberDTO.memberBirth}">
            </th>
        </tr>
        <tr>
            <th>
                <label for="memberMobile">전화번호</label>
            </th>
            <th>
                <input type="text" id="memberMobile" name="memberMobile" th:value="${memberDTO.memberMobile}">
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="수정">
                <input type="button" value="뒤로" th:onclick="|location.href='@{/member/(id=${memberDTO.id})}'|">
            </th>
        </tr>
    </table>
</form>
</body>
</html>